includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    paths:
        - app/
        - bootstrap/app.php
        - config/
        - database/
        - routes/
        - packages/maac-sdk-php/src
        - packages/maac-sdk-php/examples
        - reference-apps/laravel-consumer/src
        - reference-apps/php-cli-consumer/src

    level: 7
